.app-wrapper {
  display: grid;
  grid-template-columns: 12% 88%;
  grid-template-rows: minmax(0, 1fr);
  height: 100vh;
}

.content-column-2 {
  background-color: #f0f0ef;
  border-radius: 25px 0 0 25px;
  padding: 2%;
}

.content-column {
  height: 100%;
}




