.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
}

.username {
  margin: 15px 0 15px 0;
}

.password {
  margin: 15px 0 15px 0;
}