.quick-input-wrapper {
  height: 100%;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
}